body {
  background-color: #EBE8E5;
}
.project {
            display: flex;
            flex-direction: column;
            justify-content: center;      
            align-items: center;      
        }